/*  */
body {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 20px;
}
loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  color: black;
}
input {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid grey;
  border-radius: 4px;
}

.meal-card {
  border: 1px solid wheat;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 150px;
  background-color: white;
  transition: transform 0.2s;
  cursor: pointer;
}

.meal-card:hover {
  transform: scale(1.05);
}

.meal-card img {
  width: 100%;
  border-radius: 8px;
}

.meal-card h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: brown;
}

.meal-card p {
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.meal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}